        :root {
            /* χρώμα πλήκτρων */
            --btn-color: teal;
            /* χρώμα κειμένου πλήκτρων */
            --btn-text: whitesmoke;
            /* χρώμα μηνύματος επιτυχίας */
            --msg-win-color: rgb(0, 128, 32);
            /* χρώμα μηνύματος αποτυχίας */
            --msg-wrong-color: crimson;
            /* χρώμα κειμένου μηνύματος */
            --msg-text: floralwhite;
            /* χρώμα ιστορικού προσπαθειών */
            --low-high-color: gray;
        }

        * {
            /* για δοκιμαστική προβολή outline: 1px solid green; */
            /* ορισμός box-sizing σε border-box για όλα τα στοιχεία του εγγράφου */
            box-sizing: border-box;
        }

        body {
            /* γραμματοσειρά της οικογένειας sans-serif */
            font-family: Arial, Helvetica, sans-serif;
            /* μέγεθος της γραμματοσειράς βάσης στο 100% άρα 16px (default τιμή) */
            font-size: 100%;
        }

        section {
            /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px */
            font-size: 1.6rem;
            /* εσωτερικό περιθώριο αριστερά 1rem=16px */
            padding-left: 1rem;
            /* εξωτερικό περιθώριο πάνω 1rem=16px */
            margin-top: 1rem;
            /* εξωτερικό περιθώριο κάτω 0.5rem=0.5*16px */
            margin-bottom: 0.5rem;
        }

        #doc-url {
            /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px */
            font-size: 1.6rem;
            /* να παίρνει το 100% του πλάτους (width) του container */
            width: 100%;
        }

        #doc-url:focus {
            /* ψευδό-κλάση όταν το πλαίσιο κειμένου έχει το focus */
            /* χρώμα στο περίγραμμα του πλαισίου */
            outline-color: dodgerblue;
        }

        button {
            /* χρώμα υποβάθρου των πλήκτρων */
            background-color: var(--btn-color);
            /* χρώμα κειμένου των πλήκτρων */
            color: var(--btn-text);
            /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px */
            font-size: 1.6rem;
            /* γωνίες ελαφρά στρογγυλεμένες */
            border-radius: 4px;
            /* εσωτερικό περιθώριο 0.6rem 1.6rem */
            padding: 8px 16px;
            /* χρώμα πλαισίου διαφανές */
            border-color: transparent;
            /* ο δρομέας αλλάζει εμφάνιση ώστε να φαίνεται ότι μπορούμε να επιλέξουμε το πλήκτρο */
            cursor: pointer;
        }

        button:hover {
            /* ψευδό-κλάση όταν το ποντίκι είναι πάνω από την περιοχή κάθε πλήκτρου */
            /* αλλαγή στη διαφάνεια */
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

        button:focus {
            /* ψευδό-κλάση όταν το πλήκτρο έχει το focus */
            /* χρώμα στο περίγραμμα του πλήκτρου */
            outline-color: dodgerblue;
        }

        #add-video {
            /* το πλήκτρο #add-video αρχικά είναι ορατό */
            visibility: visible;
        }

        #upload-video {
            /* το default input[type="file"] δεν εμφανίζεται */
            display: none;
        }

        #clear {
            /* το πλήκτρο #clear αρχικά είναι κρυμμένο και δε μπορεί να δεχτεί events */
            visibility: hidden;
        }

        #add-subs {
            /* το πλήκτρο #add-subs αρχικά είναι κρυμμένο και δε μπορεί να δεχτεί events */
            visibility: hidden;
        }

        #upload-subs {
            /* το default input[type="file"] δεν εμφανίζεται */
            display: none;
        }

        figure {
            text-align: center;
        }