:root {
    /* χρώμα πλήκτρων */
    --btn-color: teal;
    /* χρώμα κειμένου πλήκτρων */
    --btn-text: whitesmoke;
    /* χρώμα μηνύματος επιτυχίας */
    --msg-win-color: rgb(0, 128, 32);
    /* χρώμα μηνύματος αποτυχίας */
    --msg-wrong-color: crimson;
    /* χρώμα κειμένου μηνύματος */
    --msg-text: floralwhite;
    /* χρώμα ιστορικού προσπαθειών */
    --low-high-color: gray;
}

* {
    /* για δοκιμαστική προβολή outline: 1px solid green; */
    /* ορισμός box-sizing σε border-box για όλα τα στοιχεία του εγγράφου */
    box-sizing: border-box;
}

body {
    /* γραμματοσειρά της οικογένειας sans-serif */
    font-family: Arial, Helvetica, sans-serif;
    /* μέγεθος της γραμματοσειράς βάσης στο 100% άρα 16px (default τιμή) */
    font-size: 100%;
}

header {
    /* μέγεθος γραμματοσειράς 2rem=2*16px */
    font-size: 2rem;
    /* εξωτερικό περιθώριο κάτω 1rem=16px */
    margin-bottom: 1rem;
}

#instructions {
    /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px */
    font-size: 1.6rem;
    /* εσωτερικό περιθώριο αριστερά 1rem=16px */
    padding-left: 1rem;
    /* εξωτερικό περιθώριο πάνω 1rem=16px */
    margin-top: 1rem;
    /* εξωτερικό περιθώριο κάτω 0.5rem=0.5*16px */
    margin-bottom: 0.5rem;
}

#guess {
    /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px ίδιο με το section #instructions */
    font-size: 1.6rem;
    /* εσωτερικό περιθώριο αριστερά 1rem=16px ίδιο με το section #instructions */
    padding-left: 1rem;
    /* εσωτερικό περιθώριο πάνω και κάτω 0.5rem=0.5*16px */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#new-guess {
    /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px ίδιο με το section #guess */
    font-size: 1.6rem;
}

#new-guess:focus {
    /* ψευδό-κλάση όταν το πλαίσιο κειμένου έχει το focus */
    /* χρώμα στο περίγραμμα του πλαισίου */
    outline-color: dodgerblue;
}

button {
    /* χρώμα υποβάθρου των πλήκτρων */
    background-color: var(--btn-color);
    /* χρώμα κειμένου των πλήκτρων */
    color: var(--btn-text);
    /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px ίδιο με το section #guess */
    font-size: 1.6rem;
    /* γωνίες ελαφρά στρογγυλεμένες */
    border-radius: 5%;
    /* χρώμα πλαισίου διαφανές */
    border-color: transparent;
    /* ο δρομέας αλλάζει εμφάνιση ώστε να φαίνεται ότι μπορούμε να επιλέξουμε το πλήκτρο */
    cursor: pointer;
}

button:hover {
    /* ψευδό-κλάση όταν το ποντίκι είναι πάνω από την περιοχή κάθε πλήκτρου */
    /* αλλαγή στη διαφάνεια */
    opacity: 0.8;
    filter: alpha(opacity=80);
}

button:focus {
    /* ψευδό-κλάση όταν το πλήκτρο έχει το focus */
    /* χρώμα στο περίγραμμα του πλήκτρου */
    outline-color: dodgerblue;
}

#check {
    /* το πλήκτρο #check αρχικά είναι ορατό */
    visibility: visible;
}

#restart {
    /* το πλήκτρο #restart αρχικά είναι κρυμμένο και δε μπορεί να δεχτεί events */
    visibility: hidden;
}

#message {
    /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px ίδιο με το section #instructions */
    font-size: 1.6rem;
    /* χρώμα υποβάθρου της περιοχής μηνυμάτων #message αρχικά --msg-wrong-color */
    background-color: var(--msg-wrong-color);
    /* χρώμα κειμένου των μηνυμάτων */
    color: var(--msg-text);
    /* στοίχιση κειμένου στο κέντρο της περιοχής μηνυμάτων */
    text-align: center;
    /* εξωτερικό περιθώριο σριστερά 1rem=16px */
    margin-left: 1rem;
    /* εξωτερικό περιθώριο πάνω 0.5rem=0.5*16px */
    margin-top: 0.5rem;
    /* εξωτερικό περιθώριο κάτω 1rem=16px */
    margin-bottom: 1rem;
}

#low-high {
    /* μέγεθος γραμματοσειράς 1.6rem=1.6*16px ίδιο με το div #message */
    font-size: 1.6rem;
    /* χρώμα κειμένου των προσπαθειών */
    color: var(--low-high-color);
    /* εσωτερικό περιθώριο αριστερά 1rem=16px */
    padding-left: 1rem;
    /* εξωτερικό περιθώριο πάνω και κάτω 1rem=16px */
    margin-top: 1rem;
    margin-bottom: 1rem;
}